!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Event Manager
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        %a.navbar-brand{:href => "/"} Event Manager
        %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav.ms-auto
            - if user_signed_in?
              %li.nav-item
                = link_to 'My Events', events_path, class: 'nav-link'
              %li.nav-item
                = link_to 'New Event', new_event_path, class: 'nav-link'
              %li.nav-item
                = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link'
            - else
              %li.nav-item
                = link_to 'Login', new_user_session_path, class: 'nav-link'
              %li.nav-item
                = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
    .container.mt-4
      = yield
